{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}骨鱼{% endblock %}
{% block content %}
    <div class="container-fluid" style="padding-top: 80px">
        <div class="row col-lg-4 col-lg-offset-3"><img src='{% static "images/logo.png" %}'></div>
        <div class="row col-lg-offset-2 col-lg-7">
            <form method="get" action="{% url 'search' %}" class="input-group input-group-lg">
                <input type="text" name="key" class="form-control searchbox" placeholder="ISBN 书名 作者">
                <span class="input-group-btn">
                <button class="btn btn-info" type="submit">搜&nbsp&nbsp&nbsp&nbsp索</button>
                </span>
            </form>
        </div>
    </div>
{% endblock %}